
html{
    border: 200px solid transparent;
    border-top: none;
    border-bottom: none;
}

#paragraph{
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

div.gallery {
    float: left;
    width: 30%;
    padding: 1%;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  } 
  
  div.desc {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
  }

  div.subject {
    padding: 10px;
    text-align: left;
    display: block;
    color: lightblue;
  }